<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати користувача</title>
</head>
<body>
<form action="/add-user" method="POST">
    <input type="text" name="username" placeholder="Ім'я користувача">
    <button type="submit">Додати</button>
</form>
<br>
<a href="/users">Перейти до списку</a>
</body>
</html>