<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Користувачі</title>
</head>
<body>
<h1>Список доданих користувачів</h1>
<% if (users.length > 0) { %>
    <ul>
        <% users.forEach(user => { %>
            <li><%= user %></li>
        <% }) %>
    </ul>
<% } else { %>
    <p>Користувачів поки немає.</p>
<% } %>
<br>
<a href="/">Назад до форми</a>
</body>
</html>
