.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea {
    font: inherit;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    padding: 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
    outline: none;
    border-color: #00695c;
}

.product-form,
.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

@media (min-width: 40rem) {
    .product-form,
    .login-form {
        width: 30rem;
    }
}